.img-thumbnail{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s;
}
.img-thumbnail:hover{
    content: url(../images/cehd.jpg);
    /* height: 200px; */
    /* transform: scale(1.1); */
}
#about{
    padding: 10px;
}